<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Executes the DataHunter Demo Selenium Test Plan over a short period for verification&#13;
&lt;br&gt;&lt;br&gt;you will need to set to update the 'SetPath' parameter for your environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>RunCI</name>
          <description>Untick will perform this Script verification Job ONLY and will not trigger the full performance test.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Application</name>
          <description>Application name as it will appear in the Mark59 Trends application</description>
          <defaultValue>DataHunter</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Duration</name>
          <description>Test run Duration in seconds - Should be only a long as necessary to validate the test plan </description>
          <defaultValue>30</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Users</name>
          <description>Number of users to use for shakeout. Will be applied across all (non-metric) thread groups that have been parameterized.</description>
          <defaultValue>1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MonitoringUsers</name>
          <description>Number of users to use for shakeout of the 'metric capture' thread groups that have been parameterized (Usually either 1 or 0).</description>
          <defaultValue>1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JmeterHome</name>
          <defaultValue>C:\apache-jmeter</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JmeterTestPlan</name>
          <description>location of the test plan to execute</description>
          <defaultValue>C:\mark59\mark59-datahunter-samples\test-plans\DataHunterSeleniumTestPlan.jmx</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OverrideTestResultsFile</name>
          <description>Jmeter results file location generally set to some temp location for verify, so as not to be confused with actual test</description>
          <defaultValue>C:\Temp\DataHunterTestResults.csv</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>KillDrivers</name>
          <description>Removes drives and browsers that may be left over from previous jobs 
(you may want to create separate jobs to Kill or not Kill drivers and browsers) </description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam1</name>
          <description>ExtraParma1 - ExtraParam10 Available&lt;br&gt;
Additional optional arguments that can be passed to Jmeter. For example, if your test plan has a parameter 'ForceTxnFailPercent'  
(sample usage :  &lt;b&gt;&lt;code&gt;${__P(ForceTxnFailPercent,25)}&lt;/code&gt;&lt;/b&gt; ), then a value can be passed from here such as:  &lt;br&gt;
&lt;b&gt;&lt;code&gt;-JForceTxnFailPercent=50&lt;/code&gt;&lt;/b&gt;</description>
          <defaultValue>-JForceTxnFailPercent=0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam2</name>
          <description>You can add all the 'ExtraParam' arguments in here if you wish , and leave there Default Values blank if they are not required </description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SetPath</name>
          <description>the location of the Java version to use, and the wbem location. Used to invoke commands.  
wbem is required to run the WMIC commands used to capture Win metric data, and is not by default on the path.</description>
          <defaultValue>"C:\Java\jdk-11\bin";C:\Windows\System32;C:\windows\system32\wbem</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>REM *** In a real CI system these commands should be moved to a .bat file for easier maintenance **&#13;
&#13;
&#13;
ECHO JAVA_HOME : %JAVA_HOME%&#13;
&#13;
set path=%SetPath%&#13;
&#13;
ECHO Using path %path%&#13;
&#13;
java -version&#13;
&#13;
break&gt;%OverrideTestResultsFile%&#13;
&#13;
if "%KillDrivers%" equ "true" (&#13;
    ECHO Kill all selenium drivers etc lying around from previous runs &#13;
    C:&#13;
    REM C:\Windows\System32\TASKKILL /IM chrome.exe /F    // Never killing this for the Demo :) &#13;
    C:\Windows\System32\TASKKILL /IM firefox.exe /F&#13;
    C:\Windows\System32\TASKKILL /IM geckodriver.exe /F&#13;
    C:\Windows\System32\TASKKILL /IM chromedriver.exe /&#13;
)&#13;
&#13;
cd %JmeterHome%\bin&#13;
&#13;
jmeter -n -f -t %JmeterTestPlan% -l %OverrideTestResultsFile% -JDuration=%Duration% -JUsers=%Users% -JMonitoringUsers=%MonitoringUsers% %LoggingLevel% %ExtraParam1% %ExtraParam2% %ExtraParam3% %ExtraParam4% %ExtraParam5% %ExtraParam6% %ExtraParam7% %ExtraParam8% %ExtraParam9% %ExtraParam10%&#13;
&#13;
pause&#13;
</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.45">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.BooleanParameters>
              <configs>
                <hudson.plugins.parameterizedtrigger.BooleanParameterConfig>
                  <name>ScriptVerificationPassed</name>
                  <value>true</value>
                </hudson.plugins.parameterizedtrigger.BooleanParameterConfig>
              </configs>
            </hudson.plugins.parameterizedtrigger.BooleanParameters>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>RunCI=$RunCI</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>DataHunter_Execute </projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.BooleanParameters>
              <configs>
                <hudson.plugins.parameterizedtrigger.BooleanParameterConfig>
                  <name>ScriptVerificationPassed</name>
                  <value>false</value>
                </hudson.plugins.parameterizedtrigger.BooleanParameterConfig>
              </configs>
            </hudson.plugins.parameterizedtrigger.BooleanParameters>
          </configs>
          <projects>DataHunter_Execute </projects>
          <condition>FAILED</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.18"/>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.21">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>15</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>