<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Executes a very short DataHunter test as a verification. &#13;
&lt;br&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>14</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>ScriptVerificationPassed</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RunCI</name>
          <description>Untick will perform Script Verification ONLY and will not trigger the CI performance test.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Application</name>
          <description/>
          <defaultValue>DataHunter</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JmeterHome</name>
          <description/>
          <defaultValue>/var/apache-jmeter</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JmeterTestPlan</name>
          <description/>
          <defaultValue>/var/mark59/dataHunterPerformanceTestSamples/test-plans/DataHunterSeleniumTestPlan.jmx</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestResultsFileName</name>
          <description/>
          <defaultValue>DataHunterTestResults.csv</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Duration</name>
          <description>Duration is seconds for the verify to run</description>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam1</name>
          <description/>
          <defaultValue>-JForceTxnFailPercent=0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam2</name>
          <description/>
          <defaultValue>-JDataHunterUrlHostPort=http://datahunter:8081</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam3</name>
          <description/>
          <defaultValue>-JMark59ServerMetricsWebUrl=http://mark59servermetricsweb:8085/mark59-server-metrics-web</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam4</name>
          <description/>
          <defaultValue>-JHeadlessModeIteratorTG=true</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam5</name>
          <description/>
          <defaultValue>-JRunningInDocker=true</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ExtraParam6</name>
          <description/>
          <defaultValue>-JAdditionalOptions="--proxy-server=direct://"</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CopyResults</name>
          <description>Set to true (tick) if the test resutls are to be copied (to the location specified in the &lt;b&gt;CopyResutsDirectory&lt;/b&gt; parameter below</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CopyResutsDirectory</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh


echo Jmeter results file location generally set to some temp location for verify, so as not to be confused with actual test

if [ "$RunCI" = "false" ]; then
	echo "CI did not run"
fi



if [ "$ScriptVerificationPassed" = "false" ]; then
  echo The script verification failed
  exit 1
fi

echo Executing test plan.....

if [ "$ScriptVerificationPassed" = "true" ]; then
	if [ "$CopyResults" = "true" ]; then
		rmdir $CopyResutsDirectory  
   	fi
	
   	cd /var/Mark59_Runs/Jmeter_Results/
    	echo $PWD

	if [ -d "/var/Mark59_Runs/Jmeter_Results/$Application" ]; then 

 		rm -r /var/Mark59_Runs/Jmeter_Results/$Application

	fi

		mkdir -m777 /var/Mark59_Runs/Jmeter_Results/$Application

   	cd $JmeterHome/bin
	echo $JmeterHome/bin/jmeter -n -f -t $JmeterTestPlan $DistributedIPsList -l /var/Mark59_Runs/Jmeter_Results/$Application/$TestResultsFileName $Duration $ExtraParam1 $ExtraParam2 $ExtraParam3 $ExtraParam4 $ExtraParam5 $ExtraParam6

	$JmeterHome/bin/jmeter -n -f -t $JmeterTestPlan $DistributedIPsList -l /var/Mark59_Runs/Jmeter_Results/$Application/$TestResultsFileName $Duration $ExtraParam1 $ExtraParam2 $ExtraParam3 $ExtraParam4 $ExtraParam5 $ExtraParam6

	if [ "$CopyResults" = "true" ]; then

		mkdir $CopyResutsDirectory
	    cp /var/Mark59_Runs/Jmeter_Results/$Application $CopyResutsDirectory
 
   	fi	
	
    exit 0
fi



# $SHELL</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.1">
      <unstableOnWarning>true</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/jenkins_home/consoleOutputParsing/LogParseRulesJmeterExecute.txt</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.39">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>parmExecuteScriptVerificationPassed=$ScriptVerificationPassed
parmExecuteResult=Execution_OK
</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>DataHunter_Result </projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>parmExecuteScriptVerificationPassed=$ScriptVerificationPassed
parmExecuteResult=Execution_failure</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>DataHunter_Result </projects>
          <condition>FAILED</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.20">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>20</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.5"/>
  </buildWrappers>
</project>